<script lang="ts">
  import { createEventDispatcher } from "svelte";
    let step : number=1
     let data = {
        salary:"",
        bonus:"",
        commissions:"",
     }

     const handleChange=(key: string,value: string)=>{
        var reg = /^[0-9]+$/;
    
        if(reg?.test(value)){
            data={
            ...data,
            [key]:value
        }
        }else {
            data= {
        ...data,
        [key]: "",
      };
        }
        isDisable()
     }

      let sum = 0
      let total = 0;
      let expenses: any[] = []; 
      let newExpensePrice = ""; 
      let newExpenseTitle = ""; 
      let allExpenses: any[] = [];
      let savings: number = 0;

  function calculateEarning(){
    const {salary,bonus,commissions}=data
    return sum = +salary + +bonus + +commissions
  }

  function handleSubmit(e){
    e.preventDefault()
    if (!data.salary) {
      return;
    }
    calculateEarning()
    step = 2
  }

  function isDisable(){
    const {salary,bonus,commissions}=data
    // console.log(!salary || !bonus || commissions ? true : false)
    return !salary || isNaN(+commissions)
  }

function calculateTotalExpenses() {
    total = expenses.reduce((acc, expense) => acc + expense.price, 0);
    calculateSavings()
  }
  function addValue() {
    const { salary, bonus, commissions } = data;
    total += (+salary || 0) + (+bonus || 0) + (+commissions || 0);
  }
 
  function addExpenseItem() {
    if (newExpenseTitle && newExpensePrice) {
      const newExpense = { title: newExpenseTitle, price: +newExpensePrice };
      allExpenses = [...allExpenses, newExpense]; 
      expenses = [...expenses, newExpense]; 
      calculateTotalExpenses(); 
      newExpenseTitle = ""; 
      newExpensePrice = "";
    }
  }
  function calculateSavings() {
    savings = sum - total;
  }

 
</script>

<form action="/" method="post">
    {#if step ===1 }
    <div class="p-5">
        <h1 class="w-full  text-accent1 bg-none text-h1 my-10 s-b1wPAWsnjvcg">Monthly Income</h1>
        <div class="mb-6" >
            <label for="salary" class="block text-fgs2">Salary
              <span class="text-red"> *</span>
            </label>
            <input type="number" name="salary" id="salary" placeholder="₹"  class="appearance-none text-input w-full rounded-sm bg- bg-bgs2 outline outline-bgs2 outline-2 p-2 focus:outline-accent1 text-base max-w-md" bind:value={data.salary} on:change={(e)=> handleChange("salary",e?.target?.value)}>
        </div>
        <div class="mb-6">
            <label for="bonus" class="block text-fgs2">Bonus</label>
            <input type="number" name="bonus" id="bonus" placeholder="₹" class="text-input w-full rounded-sm bg- bg-bgs2 outline outline-bgs2 outline-2 p-2 focus:outline-accent1 text-base max-w-md" bind:value={data.bonus} on:change={(e)=>handleChange("bonus",e?.target?.value)}>
        </div>
        <div class="mb-6">
            <label for="commissions" class="block text-fgs2">Other Income</label>
            <input type="number" name="commissions" id="commissions" placeholder="₹" class="text-input w-full rounded-sm bg- bg-bgs2 outline outline-bgs2 outline-2 p-2 focus:outline-accent1 text-base max-w-md" bind:value={data.commissions} on:change={(e)=>handleChange("commissions",e?.target?.value)}>
        </div>
        <button class="relative max-w-full px-4 py-2 rounded-md text-base bg-bgs2 hover:bg-bgs3 s-b1wPAWsnjvcg" on:click={handleSubmit} > Submit</button>
    </div> 
    {/if }
    {#if step ===2 }
    <div>
      <h2 class="w-full  text-accent1 bg-none text-h1 my-10 s-b1wPAWsnjvcg">Expenditure</h2>
        <h2 class="w-full  text-fgs3 font-bold p-2 my-6 max-w-3xl bg-bgs2 s-b1wPAWsnjvcg">Total Income: {sum ? sum : 0}</h2>
        
        <div>
          <h3 class="block text-fgs2 ">Add Expenses </h3>
          <div>
            <input
              type="text"
              placeholder="Title"
              class="mb-4 block appearance-none text-input w-full rounded-sm bg-bg bg-bgs2 outline outline-bgs2 outline-2 p-2 focus:outline-accent1 text-base max-w-md"
              bind:value={newExpenseTitle}
            >
            <input
              type="number"
              placeholder="Price"
              class="mb-4 block appearance-none text-input w-full rounded-sm bg-bg bg-bgs2 outline outline-bgs2 outline-2 p-2 focus:outline-accent1 text-base max-w-md"
              bind:value={newExpensePrice}
            >
            <button class="relative max-w-full px-4 py-2 rounded-md text-base bg-bgs2 hover:bg-bgs3 s-b1wPAWsnjvcg" on:click|preventDefault={addExpenseItem} on:click={() => addExpenseItem(newExpenseTitle, newExpensePrice)}>Add</button>
          </div>
          
          <div>
            {#each expenses as expense}
              <p>{expense.title}: {expense.price}</p>
            {/each}
            
            <h2 class="w-full  text-fgs3 font-bold p-2 my-6 max-w-3xl bg-bgs2 s-b1wPAWsnjvcg">All Expenses: {total}</h2>
            <h2 class="w-full  text-fgs3 font-bold p-2 my-6 max-w-3xl bg-bgs2 s-b1wPAWsnjvcg">Savings: {savings ? savings : 0}</h2>
          </div>
        
        </div>
      
    </div>
    {/if }
  </form>
  <style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0
    }
  
    input[type="number"] {
      -moz-appearance: textfield; 
    }
  </style>
  
<!--  
  {#key cats?.length}
  <div>
    {#each cats as  data, i}
    <div class="mb-4">
        <label for="salary" class="block mb-2 text-lg font-medium text-white">Salary <span class="text-red"> *</span></label>
        <input type="number" name="salary" id="salary" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" bind:value={data.salary} on:change={(e)=> handleChange("salary",e?.target?.value)}>
    </div>
    {/each}
    <button on:click={handleAAddInput}>Add</button>
  </div>
{/key} -->