<script lang="ts">
  import type { Preset } from "$lib/local/types/preset.type";
  import { padToTwo } from "$lib/tidy/utils/utils";
  import { createEventDispatcher } from "svelte";
  import PresetItemScaffold from "./PresetItemScaffold.svelte";
  import Switcher from "$lib/tidy/elements/switcher/Switcher.svelte";
  import SwitchItem from "$lib/tidy/elements/switcher/SwitchItem.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { SelectionItemActiveStyle } from "$lib/tidy/types/switcher.enum";
  const dispatch = createEventDispatcher();
  export let preset: Preset;
  export let isActive: boolean = false;
  export let parentBackgroundIndex = 2;
  function handleClick() {
    dispatch("click", { preset });
  }
</script>

<SwitchItem
  size={Size.md}
  selectionStyle={SelectionItemActiveStyle.NONE}
  {parentBackgroundIndex}
  {isActive}
  on:click={handleClick}
>
  <div class="flex flex-row items-center h-6 truncate">
    {#if preset.name}
      <div class="text-base">{preset.name}</div>
    {:else}
      {#if preset.rounds > 1}
        <div class="text-b2 text-fgs2">
          {preset.rounds}&nbsp;x&nbsp;
        </div>
      {/if}
      <div class="flex gap-1 items-center">
        <div class="text-base">
          {padToTwo(
            preset.duration > 60 ? preset.duration / 60 : preset.duration
          )}
        </div>
        <div class="text-fgs2">
          {preset.duration > 60 ? "hr" : "m"}
        </div>
      </div>
    {/if}
  </div>
</SwitchItem>
